{% extends 'base.html.twig' %}

{% block title %}{% trans %}create.title{% endtrans %}{% endblock %}

{% block body %}
	<h1>Belote</h1>
    <h2>{% trans %}create.title{% endtrans %}</h2>

    {{ form(create_form) }}
{% endblock %}
