{{ include('_header.tpl.html') }}
        <div class="row h-100">
            <div class="col-md-8 h-100">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">Coéquipier en face moi</div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Adversaire gauche</div>
                    <div class="col-md-8">table</div>
                    <div class="col-md-2">Adversaire droite</div>
                </div>
                <div class="row">
                 Moi
                </div>
            </div>
            <div class="col-md-4 h-100" id="pannel_infos">
                <div>
                    <h1>Belote par Johan</h1>
                    <p>v0.1-alpha1</p>
                    <p>
                        <b>Partie :</b> xxxx<br />
                        <b>Manche n°:</b> #xxx
                    </p>

                </div>

                <div id="points">
                    <h3>Points</h3>
                    <table>
                    <thead><tr><td>#</td><td>Nord-Sud</td><td>Ouest-Est</td></tr></thead>
                     <tbody>
                     <tr><td>1</td><td>+23 (23)</td><td>+70 (70)</td></tr>
                     <tr><td>2</td><td>+85 (108)</td><td>+12 (82)</td></tr>
                     </tbody>
                    </table>
                </div>


                <div id="messages">
                    <h3>Journal d'évènements</h3>
                    <p></p>
                </div>

            </div>
        </div>
{{ include('_footer.tpl.html') }}
