{{ include('_header.tpl.html') }}
<input type="hidden" name="hashGame" id="hashGame" value="{{hashGame}}" />
<input type="hidden" name="playerPosition" id="playerPosition" value="{{playerPosition}}" />
<div class="container  mx-auto">
    <div class="row">
        <h1>Belote par Johan</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                A <span id="currentPlayerToPlay"> {{currentPlayer}} </span> de jouer
            </div>
            <div class="row {{hideTurnCards}}" id="trumpColor">
                <div class="col-md-12">
                    <div class="row">
                        <h3>Atout :</h3>
                        <span id="trumpColorSymbol">{{trumpColorImg|raw}}</span>
                    </div>
                    <div class="row">
                        <h3>Preneur :</h3>
                        <span id="trumpColorTaker">{{takerName}}</span>
                    </div>
                    <div class="row" id="gameInfo"></div>
                </div>
            </div>
            <div class="row {{hideTurnCards}}" id="turnCards">
                <div class="col-md-12">

                    <div class="row">
                        <h3>Pli en cours :</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-3 subboard" id="subboard_1">
                            <p class="playerName">{{turnPlayer_1}}</p>
                            <div class="playerCard">{{turnCard_1|raw}}</div>
                        </div>
                        <div class="col-md-3 subboard" id="subboard_2">
                            <p class="playerName">{{turnPlayer_2}}</p>
                            <div class="playerCard">{{turnCard_2|raw}}</div>
                        </div>
                        <div class="col-md-3 subboard" id="subboard_3">
                            <p class="playerName">{{turnPlayer_3}}</p>
                            <div class="playerCard">{{turnCard_3|raw}}</div>
                        </div>
                        <div class="col-md-3 subboard" id="subboard_4">
                            <p class="playerName">{{turnPlayer_4}}</p>
                            <div class="playerCard">{{turnCard_4|raw}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row playerSubBoard {{hideCutDeck}}" id="cutDeck">
                <h3>
                    <label for="customRange2">Couper le deck :</label>
                </h3>
                <input type="range" class="custom-range" min="1" max="31" id="cutDeckValue" /> <input type="submit" value="Couper le deck"
                    id="btnCutDeck" />
            </div>
            <div class="row playerSubBoard {{hideChooseTrump}}" id="chooseTrump">
                <div class="col-md-12">
                    <div class="row">
                        <h3>Choisir l'atout :</h3>
                    </div>
                    <div class="row">
                        <h4>Atout proposé :</h4>
                        <div id="proposedTrumpCard">
                            <img src="{{proposedTrumpCardSrcImg}}" />
                        </div>
                    </div>
                    <div class="row">
                        <img src="{{BASE_URL}}/img/heart.png" class="trump {{trumpHeartDisabled}}" id="chooseTrump_heart" /> <img
                            src="{{BASE_URL}}/img/diamond.png" class="trump  {{trumpDiamondDisabled}}" id="chooseTrump_diamond" /> <img
                            src="{{BASE_URL}}/img/spade.png" class="trump  {{trumpSpadeDisabled}}" id="chooseTrump_spade" /> <img
                            src="{{BASE_URL}}/img/club.png" class="trump  {{trumpClubDisabled}}" id="chooseTrump_club" /><br />
                    </div>
                    <div class="row">
                        <input type="hidden" id="trump_selected" /> <input type="submit" value="Choisir cet atout" id="btnChooseTrump" {{hideChooseTrumpBtn|raw}} />
                        <input type="submit" value="Passer" id="btnPassTrump" {{hideChooseTrumpBtn|raw}} />
                    </div>
                </div>
            </div>
            <div class="row playerSubBoard" id="myCards">
                <div class="col-md-12">
                    <div class="row">
                        <h3>Mes cartes</h3>
                    </div>
                    <div class="row">
                        <div class="cards">{{myCards|raw}}</div>
                    </div>
                    <div class="row">

                        <input type="button" value="Jouer cette carte" id="btnPlayCard" {{hidePlayCardBtn|raw}} />
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-4 h-100" id="pannel_infos">
            <div>

                <p>v0.1-alpha1</p>
                <p>
                    <b>Partie :</b> #{{hashGame}}<br /> <b>Manche n°:</b> #<span id="round_id">{{idRound}}</span><br /> <b>Votre nom :</b>
                    {{currentPlayerName}}<br /> <b>Votre équipe :</b> {{currentPlayerTeam}}<br />
                </p>
            </div>

            <div id="points">
                <h3>Points</h3>
                <table>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Nord-Sud</td>
                            <td>Ouest-Est</td>
                        </tr>
                        <tr>
                            <td>Noms :</td>
                            <td><span id='playerName_n'>{{playerName_n}}</span> &amp; <span id='playerName_s'>{{playerName_s}}</span></td>
                            <td><span id='playerName_w'>{{playerName_w}}</span> &amp; <span id='playerName_e'>{{playerName_e}}</span></td>
                        </tr>
                    </thead>
                    <tbody>{{htmlPoints|raw}}
                    </tbody>
                </table>
            </div>


            <div id="mercure_messages">
                <h3>Journal d'évènements</h3>
                <p></p>
            </div>
            <div id="mercure_messages_debug">
                <h3>Journal d'évènements (debug)</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
{{ include('_footer.tpl.html') }}
