body {
    background-color: #33AA33;
}

#pannel_infos {
    background-color: rgba(0, 0, 0, 0.3);
}

#pannel_infos>div {
    margin-top: 10px;
}


#cutDeckValue{
    width : 300px;
}

#chooseTrump img {
    display: flex;
    height : 50px;
    cursor:pointer;
}

#chooseTrump img.selected {
    display: flex;
    height : 50px;
    cursor:pointer;
    border: 1px solid green;    
    background-color: #55DD55;
}