Options -Indexes

# Rewriting
RewriteEngine On
RewriteBase /belote/
RewriteCond %{REQUEST_METHOD} !OPTIONS
RewriteCond %{REQUEST_URI} !/css/*
RewriteCond %{REQUEST_URI} !/img/*
RewriteCond %{REQUEST_URI} !/js/*
RewriteRule (.*) index.php?req=$1  [QSA,L]

